/* gruvbox-dark-wofi */
@define-color red #cc241d;
@define-color red2 #fb4934;
@define-color green #98971a;
@define-color green2 #d8bb26;
@define-color yellow #d79921;
@define-color yellow2 #fabd2f;
@define-color blue #458588;
@define-color blue2 #83a598;
@define-color purple #b16286;
@define-color purple2 #d3869b;
@define-color aqua #689d6a;
@define-color aqua2 #8ec07c;
@define-color gray #a89984;
@define-color gray2 #928374;
@define-color orange #d65d0e;
@define-color orange2 #fe8019;

@define-color base #282828;
@define-color bg1 #3c3836;
@define-color bg2 #504945;
@define-color bg3 #665c54;
@define-color bg4 #7c6f64;
@define-color bg0or #1d2021;

@define-color bor #ebdbb2;
@define-color text #ffffff
* {
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 14px;
}

/* Window */
window {
  margin: 0px;
  padding: 10px;
  border: 0.16em solid @bor;
  border-radius: 1em;
  background-color: @base;
  animation: slideIn 0.5s ease-in-out both;
}

/* Slide In */
@keyframes slideIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Inner Box */
#inner-box {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: @base;
  animation: fadeIn 0.5s ease-in-out both;
}

/* Fade In */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Outer Box */
#outer-box {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: @base;
}

/* Scroll */
#scroll {
  margin: 0px;
  padding: 10px;
  border: none;
  background-color: @base;
}

/* Input */
#input {
  margin: 5px 20px;
  padding: 10px;
  border: none;
  border-radius: 10.1em;
  color: @text;
  background-color: @bg2;
  animation: fadeIn 0.5s ease-in-out both;
}

#input image {
  border: none;
  color: @red;
}

#input * {
  outline: 4px solid @red!important;
}

/* Text */
#text {
  margin: 5px;
  border: none;
  color: @text;
  animation: fadeIn 0.5s ease-in-out both;
}

#entry {
  background-color: @base;
}

#entry arrow {
  border: none;
  color: @red2;
}

/* Selected Entry */
#entry:selected {
  border: 0.11em solid @bor;
}

#entry:selected #text {
  color: @text;
}

#entry:drop(active) {
  background-color: @red2!important;
}
