configuration {
  display-drun: "Apps:";
  display-window: "Windows:";
  drun-display-format: "{name}";
  font: "JetBrainsMono Nerd Font";
  icon-theme: "candy-icons-master";
  show-icons: true;
  modi: "window,drun,emoji";
}

//@theme "nord.rasi"
@theme "/usr/share/rofi/themes/Arc-Dark.rasi"
