@define-color base     #1a1b26;
@define-color darkbase #16161e;
@define-color text     #a9b1d6;

@define-color color1  #73daca;
@define-color color2  #9ece6a;
@define-color color3  #0db9d7;
@define-color color5  #bb9af7;
@define-color color12 #2ac3de;
@define-color color16 #f7768e;
@define-color color17 #ff9e64;

* {
  font-family:
    JetBrainsMono Nerd Font,
    FontAwesome,
    sans-serif;
  font-size: 15px;
  margin: 0;
  padding: 0;
  min-height: 10px; /* Slim but not squashed */
}

window#waybar {
  background: @darkbase;
  color: @text;
  padding: 2px 10px;
  margin: 6px 10px;
}

/* Workspaces */
#workspaces {
  background: transparent;
  margin: 0 4px;
  padding: 0;
}

#workspaces button {
  color: @text;
  border-radius: 6px;
  margin: 0 1px;
  padding: 2px 5px;
  font-size: 12px;
  transition: background 0.3s ease-in-out;
  font-weight: bolder;
}

#workspaces button.active {
  background: @color3;
  color: @base;
  margin: 3px 2px;
}

#workspaces button.urgent {
  background: @color16;
  color: white;
}

/* Modules */
#clock,
#battery,
#network,
#bluetooth,
#pulseaudio,
#cpu,
#memory {
  padding: 2px 8px;
  margin: 3px 3px;
  border-radius: 6px;
  background: #2e2e3e;
  font-weight: bolder;
}

#clock {
  color: @color12;
}
#battery {
  color: @color2;
}
#network {
  color: @color1;
}
#bluetooth {
  color: @color5;
}
#pulseaudio {
  color: @color17;
}
#cpu {
  color: @color16;
}
#memory {
  color: @color5;
}

/* Critical states */
#battery.critical:not(.charging),
#temperature.critical {
  color: white;
  background: @color16;
}
